body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/Background.png');
    background-size: 32px 32px; /* Scales the pattern up */
    background-repeat: repeat;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo top-title header"
        "main main main"
        "footer footer footer";
        grid-gap: 0px;

    padding: 0;
    margin-bottom: 0;
}

.logo {
    grid-area: logo;
    padding: 0;
    padding-left: 0px;
    float: left;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255);

}

.top-title {
    grid-area: top-title;
    padding: 0;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
}

.header {
    grid-area: header;
    display: grid;
    width: 100%;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255);
}

.main {
    grid-area: main;
    background-color: rgba(255, 255, 255);  /* very pale grey */
    margin-top: 10px;
}


.footer {
    grid-area: footer;
    text-align: right;
    background-color: rgba(255, 255, 255);
    margin-top: 10px;
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */

}


/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

h2{
    color: #75a743;
    
}

.responsive{
    width: 100%;
    height: auto;
}

.info-text{
    display: flex;
    flex-direction: column;
}

ul.text {
    list-style: disc;
    display: list-item;
    border: none;
    margin-left: 20px;
    
}

@media(max-width: 767px)
{
    .wrapper{
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "logo top-title"
            "header header"
            "main main"
            "footer footer";
            grid-gap: 0;
    }
}

.pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
















